<%# メインヘッダー %>
<div class="main-header">
  <div class="chat-room">お部屋の名前</div>
  <div class="chat-finished">
    <a href="#">チャットを終了する</a>
  </div>
</div>
  

<%# メインボディ 投稿表示 %>
<div class="main-body">

  <%# 投稿ボックス %>
  <div class="message-content">
    <div class="upper-content">
      <div class="post-name">Tom</div>
      <div class="post-time">2021/3/21(sat) 18:48 </div>
    </div>
    <div class="lower-content">
      <div class="message-text">おはよう</div>
    </div>        
  </div>

  <div class="message-content">
    <div class="upper-content">
      <div class="post-name">Tom</div>
      <div class="post-time">2021/3/21(sat) 18:48 </div>
    </div>
    <div class="lower-content">
      <div class="message-text">おはよう</div>
    </div>        
  </div>

  <div class="message-content">
    <div class="upper-content">
      <div class="post-name">Tom</div>
      <div class="post-time">2021/3/21(sat) 18:48 </div>
    </div>
    <div class="lower-content">
      <div class="message-text">おはよう</div>
    </div>        
  </div>

</div>

<%# メインボトム 投稿フォーム %>
<div class="main-bottom">
  <div class="post">
    <input type="text" placeholder="type a message" >
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label> 
  </div>
  <input type="submit" class="btn-send" value="送信" >
</div>
